<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Song Recommendations</title>
    </head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <body class="text-white bg-dark bg-gradient" style="height:100%;">

        <!-- Track list -->
        <div class="container shadow-lg pb-3" style="background-color: rgb(62, 68, 74);">
            <div class="row mb-3">
                <div class="col">
                    <h1 th:text="${'Song Recommendations For ' + user.displayName}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table id="track_table" class="table table-hover border border-dark table-dark">
                        <thead style="background-color: rgb(24, 28, 34);">
                            <tr>
                                <th>Song</th>
                                <th>Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="track : ${tracks}" th:attr="onclick=|loadTrack('${track.id}')|" >
                                <td th:text="${track.name}"></td>
                                <td class="text-muted" th:text="${#strings.arrayJoin(track.artists, ',')}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__}" class="btn btn-success">Get New Recommendations</a>
                </div>
                <div class="col-md-6 pr-4">
                    <div id="song_info" class="row border-top">

                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="trackLoader.js"></script>
    </body>

</html>
